* {
    margin: 0;
    padding: 0 

}

body, html {
    height:100%;
}

p {
    text-align: center;
    font-family: "Open Sans", serif;
    margin: 4%;
}

#logo-section {
    display: flex;
    justify-content: left;
    width: 30%
}
header  {
    
    display:flex;
    justify-content: left;
    margin: 4%;
    color: white;
    text-shadow: 0 0 10px rgb(185, 92, 108);
    font-family: "sofia", "serif";
    text-align: center;
    font-size: 30px;
    
}


#logo {

    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 5px;
    width: 220px;
    
}
#header h1 {
    font-size: 20px;
    padding-right: 20px;
    float: right;
    color: #f5cccc;
    text-align: right;
    text-align: justify;
}

ul {
    display: flex;
    text-decoration: none;
}

#right-col {
    width:30%;
    margin-right: 1%;
    border: solid 2px purple; 
    border-radius: 5%;
    
    
  /*  background-image: linear-gradient(rgb(222, 222, 236),rgb(135, 135, 214)); */
    
}


#main-container {
    width:100%;
    margin:1%;
    display: flex;
    flex-direction: row;
    

}

#daily-weather-box {
    width: 12%;
    height: 57%;
    margin: 1%;
    margin-top:5%;
    background-color: white;
    border-radius: 5%;

}

#today-weather-box {
    width: 12%;
    height: 57%;
    margin: 1%;
    margin-top:5%;
    background-color: white;
    border-radius: 5%; 
}
   
button {
 
  background-color: #d390aa;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width:90%;
  line-height: 20px;
  outline: none;
  padding: 10px 16px;
  margin:1%;
  text-align: center;
 
}

#appended-location {
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}



#left-col {
    width:70%;
    margin-left:2%;
    border-radius: 5%;
   /* box-shadow: 5px 15px rgb(245, 234, 234); 
   background-image: linear-gradient(rgb(254, 254, 254),rgb(129, 129, 198)); */

    
}



#main-container{
    display:flex;
    
    
}

#title-row  {
    height:30vh;
    background-image: linear-gradient(rgb(254, 254, 254),rgb(183, 135, 180));
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 50px grey;
    opacity: 0.7;
    
    
}

#day-weather-row{
    height:30vh;
    display:flex;
    flex-wrap: wrap;
    border: solid 2px green;
    
}

#bottom-row  {
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border:solid 2px purple;
}

#title-row, #day-weather-row, #bottom-row {
    margin:1%;
    border-radius: 3%;
}

#extra-weather-info {
    height: 30vh;
    width: 35vh;
    margin: 1%;
    border: solid 2px white;
    background-color: white;
    border-radius: 25%;
    opacity:0.8;
}


#bg {
    /* The image used */
    background-image: url("Poler.jpeg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    
    background-attachment: fixed;
    
  

}

#map  {
    height: 400px;
    width: 100%;
    border-radius: 5%;
    }

.box-shadow {
    box-shadow: 10px 10px 50px grey;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}