* {
    margin: 0;
    padding: 0;

}

body,
html {
    height: 100%;
}

input[type=text] {
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 10px 0;
}

input[type=text]:focus {
    border: 5px solid pink;
}


#main-container {
    display: flex;
}

p {
    text-align: center;
    font-family: "Open Sans", serif;
    margin: 4%;
    font-size: 150%;
    font-weight: bold;
}

h1 {
    text-align: center;
}

header {
    color: white;
    text-shadow: 0 0 10px rgb(185, 92, 108);
    font-family: "sofia", "serif";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
x
#logo {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 5px;
    width: 220px;
}

#image-section {
    display: flex;
    width: 15%;
}

.logo-nav-container {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    padding: 1%;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav li {
 
    text-decoration: none;
    border: solid 1px pink;
    border-radius: 10px;
    text-align: center;
    padding: 0 5% 0 5%;
    font-size: 100%;
    margin-left: 9%;
}

li {
    transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 150%;
}

#appended-location {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: palevioletred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
}

#right-col {
    width: 30%;
    margin-right: 1%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.35);
}

#location-input {
    width: 60%;
    border-radius: 10px;
}

.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#locationSummary {
    display: flex;
    flex-direction: column;
}

#locationSummary p {
    margin: 0;
}

.summary-item {
    display: flex;
    flex-direction: column;
}

#main-container {
    width: 100%;
    margin: 1%;
    display: flex;
    flex-direction: row;
}

.daily-weather-style {
    width: 15%;
    height: 60%;
    margin: 2%;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    border: 0px;
    border-radius: 25px;
    background-color: pink;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.6s ease-in-out;
}

button:hover {
    background-color: #F082AC;
    cursor: pointer;
    transform: scale(0.8);
}

li:hover {
    color: rgb(0, 0, 0);
    box-shadow: inset 200px 0 0 0 #ffffff;
    cursor: pointer;
}

#left-col {
    width: 70%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5%;
}

#main-container {
    display: flex;
}

#title-row {
  
    background-image: linear-gradient(rgb(254, 254, 254, 0.3), rgb(183, 135, 180, 0.3));
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 50px grey;
    border-radius: 25px;
    padding:1%;
    margin-bottom: 1%;
}

#day-weather-row {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#bottom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.extra-weather-info {
    height: 30vh;
    width: 35vh;
    margin: 1%;
    border: solid 2px white;
    background-color: white;
    border-radius: 25%;
    opacity: 0.8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

#bg {
    /* The image used */
    background-image: url("Poler.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    background-attachment: fixed;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 5%;
    margin: 1%;
}

#temp-value,
#feels-like-value,
#wind_gust_value,
#uvi-value,
#wind-speed-value,
#humidity_value {
    background-position: center;
    background-size: cover;
}

#temp-value {
    background-image: url("Poler.jpeg");
}

#feels-like-value {
    background-image: url("feels-like.jpg");
}

#wind_gust_value {
    background-image: url("wind-speed.jpg");
}

#uvi-value {
    background-image: url("uv.jpg");
}

#wind-speed-value {
    background-image: url("windy.jpg");
}

#humidity_value {
    background-image: url("humidity.jpg");
}

.box-shadow {
    box-shadow: 10px 10px 50px grey;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #left-col,
    #right-col {
        width: 100%;
    }

    #left-col {
        margin-top: 2%;
    }

    #right-col {
        background-color: rgba(255, 255, 255, 0.7);
    }


    .logo-nav-container {
        
        width: 100%;

    }


    .extra-weather-info {
        width: 80%;
        border-radius: 25px;
    }

    a {
        color: rgb(229, 90, 90);
        width: 65px;
        font-size: 90%;
    }

    li {
        margin-right:4%;
    }

   #title-row {background-image: linear-gradient(rgb(254, 254, 254, 0.8), rgb(183, 135, 180, 0.8))
   }

/* Trying to make website responsive on different devices */
    h1 { 
        font-size: 180%;
    }

}
